@model IEnumerable<UsersListViewModel>

@{
	ViewData["Title"] = "Manage users";
}

<div class="d-flex justify-content-between">
	<h2>@ViewData["Title"]</h2>
	<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">
		Create user
	</button>
</div>

<table class="table">
	<thead>
	<tr>
		<td>Name</td>
		<td>Email</td>
		<td>Roles</td>
		<td></td>
	</tr>
	</thead>

	@foreach (var user in Model)
	{
		<tr>
			<td>@user.UserName</td>
			<td>@user.UserEmail</td>
			<td>@user.UserRoles</td>
			<td>
				<button class="btn btn-primary btn-sm" data-bs-toggle="modal"
						data-bs-target="#editUserModal" data-bs-id="@user.UserId">
					Edit
				</button>
				<button class="btn btn-danger btn-sm" data-bs-toggle="modal"
				        data-bs-target="#deleteUserModal" data-bs-id="@user.UserId">
					Delete
				</button>
			</td>
		</tr>
	}
</table>

@await Html.PartialAsync("Create", new UserFormViewModel())

@await Html.PartialAsync("Edit")

@await Html.PartialAsync("Delete")
