@using Microsoft.AspNetCore.Mvc.Localization
@model TimeEntryViewModel
@inject IViewLocalizer Localizer

<div class="modal-header">
	<h5 class="modal-title" id="edittimeEntryModalLabel">@Localizer["Title"]</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form action="@Url.Action("Edit", "Home")" id="timeEntryForm" method="post">
	<div class="modal-body">
		<input type="hidden" name="date" value="@Model.Date" />
		<input type="hidden" name="week" value="@Model.Week" />
		<div class="form-floating mb-3">
			<input asp-for="Comment" class="form-control" autocomplete="username" aria-required="true" placeholder="Comment" />
			<label asp-for="Comment">@Localizer["Comment"]</label>
			<span asp-validation-for="Comment" class="text-danger"></span>
		</div>
		<div class="form-floating mb-3">
			<input asp-for="HoursSpent" class="form-control" aria-required="true"
				   placeholder="" />
			<label asp-for="HoursSpent">@Localizer["HoursSpent"]</label>
			<span asp-validation-for="HoursSpent" class="text-danger"></span>
		</div>
		<div class="form-floating mb-3">
			<input asp-for="MinutesSpent" class="form-control" aria-required="true"
				   placeholder="" />
			<label asp-for="MinutesSpent">@Localizer["MinutesSpent"]</label>
			<span asp-validation-for="MinutesSpent" class="text-danger"></span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
		<button type="submit" class="btn btn-primary">@Localizer["Update"]</button>
	</div>
</form>

<script>
	$.validator.unobtrusive.parse($('#userForm'));
</script>